html{
  font-family: 'Roboto', sans-serif;
}

body{
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.header{
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

img.menu_pic{
  height: 10vh;
  min-height: 10vh;
  max-height: 10vh;
}

nav{
  width: 70vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav{
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
}

.main{
  width: 100vw;
}

.characters{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card{
  width: 18.8vw;
  height: 50vh;
  background-color: blue;
  margin-top: 2vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
