html{
  font-family: 'Roboto', sans-serif;
}

h1{
  font-size: 90px;
  text-decoration: underline;
}

h2 {
  font-size: 60px;
}

p {
  font-size: 20px;
}

body{
  margin: 0;
  width: calc(100vw - 17px);
  height: 100vh;
}

.header{
  height: 10vh;
  width: calc(100vw - 17px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #222;
}

img.menu_pic{
  height: 10vh;
  min-height: 10vh;
  max-height: 10vh;
}

nav{
  width: 70vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav{
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
}

.main{
  width: calc(100vw - 17px);
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.trailers_container{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.characters{
  width: calc(100vw - 17px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card{
  width: 300px;
  height: 400px;
  background-color: black;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
}

.row {
  display: flex;
  flex-direction: row;
}

.season {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 49%;
  margin-left: auto;
  margin-right: auto;
}
